<?xml version="1.0"?>
<robot name="myellow" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <xacro:arg name="debug" default="0"/>
  <xacro:arg name="namespace" default="myellow"/>
  <xacro:arg name="inertial_reference_frame" default="world"/>

  <!-- Include the ROV macro file -->
  <xacro:include filename="$(find myellow_vehicle)/urdf/base.xacro"/>
  <xacro:include filename="$(find myellow_vehicle)/urdf/gazebo.xacro"/>

  <!-- Create the myellow -->
  <xacro:myellow_base 
    namespace="$(arg namespace)" 
    inertial_reference_frame="$(arg inertial_reference_frame)">
    <!-- The underwater object plugin is given as an input block parameter to
    allow the addition of external models of manipulator units -->
    <gazebo>
      <plugin name="uuv_plugin" filename="libuuv_underwater_object_ros_plugin.so">
        <fluid_density>1028.0</fluid_density>
        <flow_velocity_topic>hydrodynamics/current_velocity</flow_velocity_topic>
        <debug>$(arg debug)</debug>
          <!-- Adding the hydrodynamic and hydrostatic parameters for the vehicle-->
        <xacro:myellow_hydro_model namespace="$(arg namespace)"/>
      </plugin>
    </gazebo>
  </xacro:myellow_base>

  <!-- Joint state publisher plugin -->
  <xacro:default_joint_state_publisher namespace="$(arg namespace)" update_rate="50"/>

  <!-- Include extra sensors -->

  <!-- Mount a camera  -->
  <xacro:regular_camera_plugin_macro 
    namespace="$(arg namespace)" 
    parent_link="$(arg namespace)/base_link" 
    suffix="_bottom" 
    topic="camera" 
    mass="0.015" 
    update_rate="30"
    hfov="1.5" 
    width="960" 
    height="540" 
    stddev="0.02" 
    scale="1.0">     
    <inertia ixx="0.00001" ixy="0.0" ixz="0.0" iyy="0.00001" iyz="0.0" izz="0.00001"/>
    <origin xyz="0 0 -0.3" rpy="0 1.57 0"/>
  </xacro:regular_camera_plugin_macro>>

</robot>
