<launch>
    <!-- Flags to select GUI, frame of reference, vehicle and world-->
    <arg name="gui" default="true"/>
    <arg name="use_sim_time" default="false"/>
    <arg name="world_frame" default="world"/>

    <!-- Choose the vehicle -->
    <!-- Supported vehicles: -->
    <!-- mblack, mred, myellow, mvector -->
    <arg name="name" default="mblack"/>

    <!-- Choose the world to launch -->
    <arg name="folder" default="expo_lisbon_worlds" />
    <arg name="world" default="expo_lisbon" />

    <!-- Vehicle's initial pose in ENU-->
    <arg name="x"     default="0"/>
    <arg name="y"     default="0"/>
    <arg name="z"     default="0"/>
    <arg name="roll"  default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw"   default="0"/>
  
    <!-- Mode to open different robot configurations as set the in file
    nomenclature standard for the files in /robots/<mode>.xacro-->
    <arg name="mode" default="default"/>

    <!-- Whether to use video server to broadcast the video output to a webpage or not -->
    <!--arg name="web_video_server"   default="false"/-->
    <!--arg name="web_video_port"     default="8080"/-->

    <!-- Select the gazebo world -->
    <include file="$(find dsor_worlds)/launch/$(arg folder)/$(arg world).launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    </include>

    <!-- Launch the farol UUV robot -->
    <include file="$(find farol_gazebo_bringup)/launch/vehicle_bringup.launch">
        
        <!-- Initial position of the vehicle -->
        <arg name="x" value="$(arg x)"/> 
        <arg name="y" value="$(arg y)"/> 
        <arg name="z" value="$(arg z)"/> 

        <!-- Initial orientation of the vehicle -->
        <arg name="roll"  value="$(arg roll)"/> 
         <arg name="pitch" value="$(arg pitch)"/> 
        <arg name="yaw"   value="$(arg yaw)"/> 

        <!-- Select the vehicle and the reference frame for the sensors -->
        <arg name="world_frame" value="$(arg world_frame)"/>
        <arg name="name" value="$(arg name)"/>

        <!-- Robot configurations -->
        <arg name="mode"   default="$(arg mode)"/>
    </include>-->

    <!-- Whether to launch a video server or not (streams camera data "if exists" to an http server -->
    <!--<node name="web_video_server" pkg="web_video_server" type="web_video_server" if="$(arg web_video_server)">
        <param name="port" value="$(arg web_video_port)" />
        <param name="server_threads" value="2" />
        <param name="ros_threads" value="4" />
    </node>-->
</launch>
