<?xml version="1.0"?>
<model>
  <name>flat_seabed</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Marcelo Jacinto</name>
    <email>marcelo.jacinto@tecnico.ulisboa.pt</email>
  </author>

  <description>
    A flat completely flat seabed
  </description>

</model>

