<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Loading some constants -->
  <xacro:include filename="$(find uuv_descriptions)/urdf/common.urdf.xacro"/>
    <!-- Loading file with sensor macros -->
  <xacro:include filename="$(find uuv_sensor_ros_plugins)/urdf/sensor_snippets.xacro"/>
    <!-- Loading the UUV simulator ROS plugin macros -->
  <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/snippets.xacro"/>  
    <!-- Loading vehicle's specific macros -->
    
    
    <!--
      Vehicle's parameters (remember to enter the model parameters below)
    -->

  <xacro:property name="mass" value="150"/>
    <!-- Center of gravity -->
  <xacro:property name="cog" value="0 0 0"/>
    <!-- Fluid density -->
  <!-- <xacro:property name="rho" value="1028"/> -->

  <xacro:property name="namespace" value="mdock"/>

    <!--
      Visual mesh file for the vehicle, usually in DAE (Collada) format. Be sure to store the
      mesh with the origin of the mesh on the same position of the center of mass, otherwise
      the mesh pose will have to be corrected below in the <visual> block.
      Open the meshes for the RexROV vehicle in Blender to see an example on the mesh placement.
    -->
      <xacro:property name="visual_mesh_file" value="file://$(find mdock_vehicle)/meshes/mdock.dae"/>

        <!-- Collision geometry mesh, usually in STL format (it is recommended to keep
          this geometry as simple as possible to improve the performance the physics engine
        regarding the computation of collision forces) -->
      <xacro:property name="collision_mesh_file" value="file://$(find mdock_vehicle)/meshes/mdock.stl"/>

        <!-- Vehicle macro -->
      <xacro:macro name="mdock_base" params="namespace *gazebo inertial_reference_frame">

        <!-- Rigid body description of the base link -->
        <link name="${namespace}/base_link">
          <!--
            Be careful to setup the coefficients for the inertial tensor,
            otherwise your model will become unstable on Gazebo
          -->
          <inertial>
            <mass value="${mass}" />
            <origin xyz="${cog}" rpy="0 0 3.141592653589793"/>
            <inertia ixx="0" ixy="1000" ixz="1000"
            iyy="0" iyz="1000"
            izz="0" />  
          </inertial>

          <visual>
            <origin xyz="0 0 0" rpy="0 0 3.141592653589793"/>
            <geometry>
              <mesh filename="${visual_mesh_file}" scale="1 1 1" />
            </geometry>
          </visual>

          <collision>
            <origin xyz="0 0 0" rpy="0 0 3.141592653589793"/>
            <geometry>
              <mesh filename="${collision_mesh_file}" scale="1 1 1" />
            </geometry>
          </collision>
          <!--collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
              <mesh filename="${collision_mesh_file}" scale="1 1 1" />
            </geometry>
            <surface>
              <friction>
                <ode>
                  <mu>0</mu>
                  <mu2>0</mu2>
                </ode>
              </friction>
            </surface>
          </collision-->
        </link>

        <gazebo reference="${namespace}/base_link">
          <selfCollide>false</selfCollide>
          <kinematic>1</kinematic>
        </gazebo>

            <!-- Include the sensor modules -->
          <xacro:include filename="$(find mdock_vehicle)/urdf/sensors.xacro"/>

        </xacro:macro>

      </robot>
