<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Center of buoyancy -->
    <xacro:property name="mvector_cob" value="0 0 0"/>

    <!-- Vehicle's actual volume (Gazebo cannot compute the volume out of the mesh) -->
    <xacro:property name="mvector_volume" value="0.0287309120146"/>
    <!--<xacro:property name="mvector_volume" value="0.034582136"/>-->

    <xacro:macro name="mvector_hydro_model" params="namespace">
      <!-- List of hydrodynamic models this robot's links -->
      <link name="${namespace}/base_link">

        <!-- This flag will make the link neutrally buoyant -->
        <neutrally_buoyant>0</neutrally_buoyant>

        <!-- Link's volume -->
        <volume>${mvector_volume}</volume>

        <box>
          <width>0.350</width>
          <length>1.035</length>
          <height>0.450</height>
        </box>
        <center_of_buoyancy>${mvector_cob}</center_of_buoyancy>
        <hydrodynamic_model>
          <type>fossen</type>
          <!-- Added mass: see p.28 in Berg2012 -->
          <added_mass>
            20    0     0     0     0     0
            0     30    0     0     0     0
            0     0     70    0     0     0
            0     0     0     0     0     0
            0     0     0     0     0     0
            0     0     0     0     0     .5
          </added_mass>
          <!-- Linear damping: see p.31 in Berg2012 -->
          <linear_damping>-0.2 -55.1 -4.1879 -3000.0 -3000.0 -4.14</linear_damping>
          <!-- Non-linear damping: see p.30 in Berg2012 -->
          <quadratic_damping>-25 -101.3 -40.9649  -3000.0 -3000.0 -6.23</quadratic_damping>
        </hydrodynamic_model>
      </link>
    </xacro:macro>

</robot>
